.idea
*.log

Thumbs.db
*.DS_Store
*._.DS_Store
._*
.smbdeleteAAA159

data/textures/materials/
data/animation/
data/fonts/
data/shaders/
data/obj/

__pycache__
metadata.json
**/**/bin/*
**/**/obj/*
*.tmp_*
